<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Layout</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        
        <header th:fragment="header">
            <h1 th:text="#{layout.title}">Título</h1>
        </header>
        
        <footer th:fragment="footer">
            <div>
                <br />
                <a th:href="@{/(lang=es)}">ES</a> |
                <a th:href="@{/(lang=en)}">EN</a> |
                <span>[[#{layout.footer}]]</span>
            </div>
        </footer>
        
    </body>
</html>
