<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <header th:replace="layout/layout :: header"></header>
        
        <a th:href="@{/add}">
            Agregar cliente
        </a>
        
        <div th:if="${clients != null and !clients.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Saldo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>

                <tr th:each="client : ${clients}">

                    <td th:text="${client.name}"></td>
                    <td th:text="${client.surname}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.phone}"></td>
                    <td th:text="${client.balance}"></td>
                    <td>
                        <a th:href="@{/edit/} + ${client.clientId}" th:text="Editar"></a>
                    </td>
                    <td>
                        <a th:href="@{/delete(clientId=${client.clientId})}" th:text="Eliminar"></a>
                    </td>

                </tr>
            </table>
        </div>
        
        <div th:if="${clients == null or clients.empty}">
            El listado de clientes está vacío
        </div>
        
        <b><footer th:replace="layout/layout :: footer"></footer></b>
                
    </body>
</html>
