<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <header th:replace="layout/layout :: header"></header>
        
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/add}">
            [[#{client.create}]]
        </a>
        
        <div th:if="${clients != null and !clients.empty}">
            <table border="1">
                <tr>
                    <th>[[#{client.name}]]</th>
                    <th>[[#{client.surname}]]</th>
                    <th>[[#{client.email}]]</th>
                    <th>[[#{client.phone}]]</th>
                    <th>[[#{client.balance}]]</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{action.edit}]]</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{action.delete}]]</th>
                </tr>

                <tr th:each="client : ${clients}">

                    <td th:text="${client.name}"></td>
                    <td th:text="${client.surname}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.phone}"></td>
                    <td th:text="${client.balance}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/edit/} + ${client.clientId}" th:text="#{action.edit}"></a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/delete(clientId=${client.clientId})}" th:text="#{action.delete}"></a>
                    </td>

                </tr>
            </table>
        </div>
        
        <div th:if="${clients == null or clients.empty}">
            El listado de clientes está vacío
        </div>
        
        <b><footer th:replace="layout/layout :: footer"></footer></b>
                
    </body>
</html>
