<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de cliente</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>

        <header th:replace="layout/layout :: header"></header>
        <h2>[[#{client.data}]]</h2>
        <a th:href="@{/}">[[#{action.return}]]</a>
        
        <br />
        <br />
        
        <form th:action="@{/save}" method="POST" th:object="${client}">
            
            <input type="hidden" name="clientId" th:field="*{clientId}" />
            
            <label for="name">[[#{client.name}]]</label>
            <input type="text" name="name" th:field="*{name}" />
            
            <br />
            
            <label for="surname">[[#{client.surname}]]</label>
            <input type="text" name="surname" th:field="*{surname}" />

            <br />
            
            <label for="email">[[#{client.email}]]</label>
            <input type="email" name="email" th:field="*{email}" />

            <br />
            
            <label for="phone">[[#{client.phone}]]</label>
            <input type="number" name="phone" th:field="*{phone}" />

            <br />
            
            <label for="balance">[[#{client.balance}]]</label>
            <input type="number" name="balance" th:field="*{balance}" />
            
            <input type="submit" name="save" th:value="#{action.save}" /> 
            
        </form>
        
    </body>
</html>
